<div class="main-section">
    <div class="text">
        <h1>Shorter links</h1>
        <p>Shorten your links with unique names to generate brand recognition for free. Please log in to get detailed information on the performance of your links.</p>
        <a href="/">Start</a>
    </div>
    <div class="image">
        <img src="/assets/ilustration.svg" alt="ilustration">
    </div>
</div>
<div class="information">
    <div class="information-card">
        <div class="information-card-header">
            <h2>Brand recognition</h2>
        </div>
        <div class="information-card-body">
            <p>Increase your brand recognition with every click. Generic links don't mean anything. Branded links help instill trust in your content.</p>
        </div>
    </div>
    <div class="information-card">
        <div class="information-card-header">
            <h2>Fully customizable</h2>
        </div>
        <div class="information-card-body">
            <p>Improve brand awareness and content visibility through customizable links, increasing audience engagement.</p>
        </div>
    </div>
    <div class="information-card">
        <div class="information-card-header">
            <h2>Detailed records</h2>
        </div>
        <div class="information-card-body">
            <p>Get information on who clicks on your links. Knowing when and where people interact with your content helps you make better decisions.</p>
        </div>
    </div>
</div>
<div class="btn">
    <a class="btn-start" href="/">Start</a>
</div>