<section class="login-section">
    <div class="login-main">
        <h3 class="login-title">Sign In</h3>
        <form action="/login" method="POST">
            <div class="login-data">
                <div class="form-group">
                    <input class="email-input" type="email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <input class="password-input" type="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6Ld1ORcbAAAAAEMOuKD-nu1idoSQN0v26a1JFhgZ"></div>
                </div>
                <div class="form-group">
                    <button class="send-btn" type="submit">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>