<footer class="footer mb-3">
        <div class="sm">
            <a href="https://www.facebook.com/pedro.castellanosalonso" target="_blank" rel="noreferrer"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com/pedrocastellanos2003" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/pedrocastellanos" target="_blank"><i class="fab fa-github"></i></a>
        </div>
</footer>